* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}


html {
  font-family: "Lab Grotesque", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: #222;
}
.root {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.canvas-container {
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

.end-game-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.end-game-button:hover {
  background-color: #444;
}